[submodule "custom-addons/base_accounting_kit"]
	path = custom-addons/base_accounting_kit
	url = https://github.com/Optimum-Performance-ins/Accounting_kit_odoo19
[submodule "custom-addons/base_account_budget"]
	path = custom-addons/base_account_budget
	url = https://github.com/Optimum-Performance-ins/Accounting_budget_odoo19
[submodule "custom-addons/muk_web_colors"]
	path = custom-addons/muk_web_colors
	url = https://github.com/Optimum-Performance-ins/muk_web_colors
[submodule "custom-addons/muk_web_appsbar"]
	path = custom-addons/muk_web_appsbar
	url = https://github.com/Optimum-Performance-ins/muk_web_appsbar
[submodule "custom-addons/optimum_insurance_base"]
	path = custom-addons/optimum_insurance_base
	url = https://github.com/Optimum-Performance-ins/optimum_insurance_base
[submodule "custom-addons/optimum_insurance_vehicle"]
	path = custom-addons/optimum_insurance_vehicle
	url = https://github.com/Optimum-Performance-ins/optimum_insurance_vehicle
[submodule "custom-addons/optimum_insurance_medical"]
	path = custom-addons/optimum_insurance_medical
	url = https://github.com/Optimum-Performance-ins/optimum_insurance_medical
[submodule "custom-addons/optimum_insurance_shipment"]
	path = custom-addons/optimum_insurance_shipment
	url = https://github.com/Optimum-Performance-ins/optimum_insurance_shipment
[submodule "custom-addons/optimum_helpdesk"]
	path = custom-addons/optimum_helpdesk
	url = https://github.com/Optimum-Performance-ins/optimum_helpdesk.git
[submodule "custom-addons/optimum_insurance_general"]
	path = custom-addons/optimum_insurance_general
	url = https://github.com/Optimum-Performance-ins/optimum_insurance_general.git
[submodule "custom-addons/optimum_insurance_quality_assurance"]
	path = custom-addons/optimum_insurance_quality_assurance
	url = https://github.com/Optimum-Performance-ins/optimum_insurance_quality_assurance
